
<div class="container">
    <div class="row">
        <div id="content" class="col-lg-12">
            <!-- PAGE HEADER-->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-header">
                        <breadcrumbs title="Account Settings"></breadcrumbs>
                        <div class="clearfix">
                            <h3 class="content-title pull-left">Account Settings</h3>
                        </div>
                        <div class="description">Account's settings & information</div>
                    </div>
                </div>
            </div>
            <!-- /PAGE HEADER -->
            <!-- CONTENT -->
            <div class="row">
                <div class="col-md-6">
                    <div class="box border primary">
                        <div class="box-title">
                            <h4><i class="fa fa-bars"></i>Edit your Account</h4>
                        </div>
                        <div class="box-body big">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Account Name</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" placeholder="New account name" ng-model="user.account_name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Account Mail</label>
                                    <div class="col-sm-8">
                                        <input type="email" class="form-control" placeholder="New account mail" ng-model="user.account_mail">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Account Type</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" ng-model="user.account_type" ng-options="a for a in accountType"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12 center">
                                        <button type="submit" data-toggle="modal" data-target="#editModal" class="btn btn-primary">Edit Account</button>
                                        <button type="submit" data-toggle="modal" data-target="#deleteModal" class="btn btn-danger">Delete your Account</button>
                                    </div>
                                </div>
                                {{user | json}}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal" id="editModal">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title">Account Edit</h3>
                  </div>
                  <div class="modal-body">
                    <p>Do you want to proceed?</p>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary" ng-click="edit()">Edit</button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            <div class="modal" id="deleteModal">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title">Account Delete</h3>
                  </div>
                  <div class="modal-body">
                    <p>Do you want to proceed?</p>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">Close</button>
                    <button class="btn btn-danger" ng-click="delete()">Delete</button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            <div class="row" ng-if="userList">
                <div class="col-md-12">
                    <!-- BOX -->
                    <div class="box border primary">
                        <div class="box-title">
                            <h4><i class="fa fa-table"></i>User's</h4>
                        </div>
                        <div class="box-body">
                            <table id="datatable1" cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Lastname</th>
                                        <th>firstname</th>
                                        <th>Mail</th>
                                        <th>Role</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="gradeX" ng-repeat="user in userList">
                                        <td>{{user.userlastname}}</td>
                                        <td>{{user.username}}</td>
                                        <td>{{user.usermail}}</td>
                                        <td>{{user.userrole}}</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /BOX -->
                </div>
            </div>
            <div class="footer-tools">
                <span class="go-top">
                    <i class="fa fa-chevron-up"></i> Top
                </span>
            </div>
        </div><!-- /CONTENT-->
    </div>
</div>
<script type="text/javascript" src="/components/datatables/media/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/components/datatables/media/assets/js/datatables.min.js"></script>
<script type="text/javascript" src="/components/datatables/extras/TableTools/media/js/TableTools.min.js"></script>
<script type="text/javascript" src="/components/datatables/extras/TableTools/media/js/ZeroClipboard.min.js"></script>
<script>
    jQuery(document).ready(function() {     
        App.setPage("dynamic_table");  //Set current page
        App.init(); //Initialise plugins and elements
    });
</script>