<div class="container">
	<div class="row">
		<div id="content" class="col-lg-12">
			<!-- PAGE HEADER-->
			<div class="row">
				<div class="col-sm-12">
					<div class="page-header">
						<breadcrumbs title="Account Settings"></breadcrumbs>
						<div class="clearfix">
							<h3 class="content-title pull-left">User Settings</h3>
						</div>
						<div class="description">User's settings & information</div>
					</div>
				</div>
			</div>
			<!-- /PAGE HEADER -->
			<!-- CONTENT -->
			<div class="row">
				<div class="col-md-6">
					<div class="box border primary">
						<div class="box-title">
							<h4><i class="fa fa-bars"></i>Edit your Profil</h4>
						</div>
						<div class="box-body big">
							<form class="form-horizontal" role="form" method="post" action="<?php echo WEBROOT . 'account/userupdate/' . $user_info['userid']; ?>">
								<div class="form-group">
									<label class="col-sm-4 control-label">First Name:</label>
									<div class="col-sm-8">
										<?php echo Form::inputText($user_form, 'user_name', $user_info['username']); ?>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label">Last Name:</label>
									<div class="col-sm-8">
										<?php echo Form::inputText($user_form, 'last_name', $user_info['userlastname']); ?>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label">Password:</label>
									<div class="col-sm-8">
										<?php echo Form::inputText($user_form, 'user_password', 'user_password'); ?>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label">Confirm Your Password:</label>
									<div class="col-sm-8">
										<?php echo Form::inputText($user_form, 'confrim_password', 'user_password'); ?>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label">Email:</label>
									<div class="col-sm-8">
										<?php echo Form::inputText($user_form, 'user_mail', $user_info['usermail']); ?>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-12 center">
						  				<button type="submit" class="btn btn-primary">Edit Your Profil</button>
						  			</div>
						  		</div>
							</form>
						</div>
					</div>
				</div>
				<?php } ?>
			</div>
		</div><!-- /CONTENT-->
	</div>
</div>
<script type="text/javascript" src="/components/datatables/media/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/components/datatables/media/assets/js/datatables.min.js"></script>
<script type="text/javascript" src="/components/datatables/extras/TableTools/media/js/TableTools.min.js"></script>
<script type="text/javascript" src="/components/datatables/extras/TableTools/media/js/ZeroClipboard.min.js"></script>
<script>
    jQuery(document).ready(function() {     
        App.setPage("dynamic_table");  //Set current page
    });
</script>